<?xml version="1.0" encoding="windows-1251"?>
<FnsService>
    <!-- Настройки обработки -->
    <process>
        <!-- Максимальное количество обрабатываемых за один раз запросов -->
        <batch_size>100</batch_size>
        <input_dir>./io/input</input_dir>
        <processed_dir>./io/processed</processed_dir>
        <output_dir>./io/output</output_dir>
    </process>

    <!-- конфигурационный файл log4j -->
    <log4j>log4j.properties</log4j>

    <hive>
        <!-- Для Linux -->
        <!--
        <driver_name>org.apache.hive.jdbc.HiveDriver</driver_name>
        -->
        <!-- Для Windows -->
        <driver_name>com.cloudera.hive.jdbc4.HS2Driver</driver_name>
        <connection_string>jdbc:hive2://msk-hadoop01:10000/440_p</connection_string>
        <login>hadoop</login>
        <password>HDPwd12345</password>
    </hive>
</FnsService>